<!DOCTYPE html>
<html>
  <body>
    <h3 id="error"></h3>
    <div id="container"></div1>
    <script type="text/javascript" charset="utf-8">
      window.onload = function(){
        console.log("window start")
      }
      window.onerror = function(msg, url, line,column,error){  
        var errmsg = "\n错误信息：" + msg+       
              "\n所在文件：" + url+         
              "\n错误行号：" + line+
              "\n错误列号：" + column
        document.getElementById("error").innerHTML=errmsg
        alert(errmsg);      
        }
   </script>
  </body>
</html>
