<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  </head>
  <body>
    <div>
       <h1>hello react</h1>
    </div>
    <div id="todo"></div>
    <script type="text/javascript" charset="utf-8">
      window.onload = function(){console.log("abc")}
      window.onerror = function(msg, url, line)   
        {alert(         
          "\n错误信息：" + msg+          
          "\n所在文件：" + url+         
          "\n错误行号：" + line);      
        }
    </script>
    <script type="text/javascript" src="/static/src/index.js"> </script>
  </body>
</html>
